@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
	--primary-color:  #00999962;
	--background-color: #8701b034;
	--dark-color:#ff730063 ;
}

html {
	font-size: 62.5%;
	font-family: 'Poppins', sans-serif;
}

* {
	margin: auto;
	padding: auto;
	box-sizing: border-box;
}

iframe.index{
    width: 100%;
    height: 100vh;
}

.body{
	background-color: #8701b00a;

}

/* ********************************** */
/*             UTILIDADES             */
/* ********************************** */
.container2 {
	max-width: 120rem;
	margin: 0 auto;
}

.heading-1 {
	text-align: center;
	font-weight: 500;
	font-size: 3rem;
	
}

/* ********************************** */
/*               HEADER               */
/* ********************************** */
.container-hero {
	background-color: var(--background-color);
}

.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
}

.customer-support {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.customer-support i {
	font-size: 3.3rem;
}

.content-customer-support {
	display: flex;
	flex-direction: column;
}

.container-logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.container-logo i {
	font-size: 3rem;
}

.container-logo h1 a {
	text-decoration: none;
	color: #ffffff;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: -1px;
}

.container-user {
	display: flex;
	gap: 1rem;
	cursor: pointer;
	color: #009999;

}

.container-user .fa-user {
	font-size: 3rem;
	color: var(--primary-color);
	padding-right: 2.5rem;
	border-right: 1px solid #009999;
}

.container-user .fa-basket-shopping {
	font-size: 3rem;
	color: var(--primary-color);
	padding-left: 1rem;
}

.content-shopping-cart {
	display: flex;
	flex-direction: column;
}

/* ************* NAVBAR ************* */
.container-navbar {
	background-color: var(--primary-color);
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}

.navbar .fa-bars {
	display: none;
}

.menu {
	display: flex;
	gap: 2rem;
	width: 80%;
	justify-content: space-between;
}

.menu li {
	list-style: none;
}

.menu a {
	text-decoration: none;
	font-size: 1.3rem;
	color: white;
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
}

.menu a::after {
	content: '';
	width: 1.5rem;
	height: 1px;
	background-color: #8601B0;
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%, 50%);
	opacity: 0;
	transition: all 0.3s ease;
}

.menu a:hover::after {
	opacity: 1;
}

.menu a:hover {
	color: #fff;
}

.submenu-parent {
    position: relative;
}

.submenu-parent ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%; 
    transform: translateX(-0%); 
    background-color: white;
    border: 1px solid grey;
    box-shadow: 0px 8px 16px #009999;
    z-index: 100;
    margin-top: 5px;
}

.submenu-parent ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #8701b06c;
    border: 1px solid #009999;
    box-shadow: 0px 8px 16px #009999;
    z-index: 100;
    margin-top: 5px;
    padding: 0; 
    width: 300%;
}

.submenu-parent:hover ul {
    display: block;
}

.submenu-parent ul li {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
}

.submenu-parent ul li a[href="https://www.ejemplo.com"],
.submenu-parent ul li a[href="no available"],
.submenu-parent ul li a[href="no available"] {
    display: block;
    margin: 0; 
    padding: 10px;
}

.submenu-parent ul li a {
    font-size: 1em;
    text-decoration: none;
    line-height: 40px;
    
    border: none;
    transition: background-color 0.3s ease;
}

.submenu-parent ul li a:hover {
    color: #8601B0;
    background-color: white;
}


/*HOME*/
.container-fluid {
    display: flex;
}

.container-fluid img {
    width: 50vw;
    height:50vw;
}

/*SHOP*/
.main-content {
	background-color: var(--background-color);
}

/* ********************************** */
/*              FEATURES              */
/* ********************************** */
.container-features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 5rem 0;
}

/* Card Feature */
.card-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.9rem;

    background-color: #d0e2dc;
    border-radius: 2rem;
    padding: 1.3rem;
}

.card-feature i {
    font-size: 2.5rem;
    color: var(--primary-color);
}

/* Feature Content */
.feature-content {
    text-align: center;
}

.feature-content span {
    font-weight: 200;
    font-size: 1.4rem;
    color:#b413a7 ;
}

.feature-content p {
    color: #0a0909;
    font-weight: 600;
}

/* Container Options */
.container-options {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.container-options span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #777;
    background-color: #070606;
    padding: 0.7rem 1.5rem;
    font-size: 1.4rem;
    text-transform: capitalize;
    border-radius: 2rem;
    cursor: pointer;
}

.container-options span:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.container-options span.active {
    background-color: var(--primary-color);
    color: #0a0808;
}

/* Products */
.container {
	max-width: 100rem;
	margin: 0 auto;
}

.heading-1 {
	text-align: center;
	font-weight: 600;
	font-size: 5rem;
    color: #a838ca;
}
.container-products {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 3rem;
}

.card-product {
	background-color: #d0e2dc;
	padding: 2rem 3rem;
	border-radius: 0.5rem;
	cursor: pointer;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.container-img {
	position: relative;
}

.container-img img {
	width: 100%;
}

.container-img .discount {
	position: absolute;
	left: 0;
	background-color: var(--primary-color);
	color: #d0e2dc;
	padding: 2px 1.2rem;
	border-radius: 1rem;
	font-size: 1.2rem;
}

.card-product:hover .discount {
	background-color: #000;
}

.button-group {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	position: absolute;
	top: 0;
	right: -3rem;
	z-index: -1;
	transition: all 0.4s ease;
}

.button-group span {
	border: 1px solid var(--primary-color);
	padding: 0.8rem;

	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease;
}

.button-group span:hover {
	background-color: var(--primary-color);
}

.button-group span i {
	font-size: 1.5rem;
	color: var(--primary-color);
}

.button-group span:hover i {
	color: #d0e2dc;
}

.card-product:hover .button-group {
	z-index: 0;
	right: -1rem;
}

.content-card-product {
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(4, min-content);
	row-gap: 1rem;
}

.stars {
	grid-row: 1/2;
	grid-column: 1/-1;
}

.stars i {
	font-size: 1.3rem;
	color: var(--primary-color);
}

.content-card-product h3 {
	grid-row: 2/3;
	grid-column: 1/-1;

	font-weight: 400;
	font-size: 1.6rem;
	margin-bottom: 1rem;
	cursor: pointer;
}

.content-card-product h3:hover {
	color: var(--primary-color);
}

.add-cart {
	justify-self: start;
	border: 2px solid var(--primary-color);
	padding: 1rem;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease;

	display: flex;
	align-items: center;
	justify-content: center;
}

.add-cart:hover {
	background-color: var(--primary-color);
}

.add-cart i {
	font-size: 1.5rem;
	color: var(--primary-color);
}

.add-cart:hover i {
	color: #d0e2dc;
}

.content-card-product .price {
	justify-self: end;
	align-self: center;

	font-size: 1.7rem;
	font-weight: 600;
}

.content-card-product .price span {
	font-size: 1.5rem;
	font-weight: 400;
	text-decoration: line-through;
	color: #777;
	margin-left: 0.5rem;
}

/* ********************************** */
/*               GALLERY              */
/* ********************************** */
.gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 30rem);
	gap: 1.5rem;
	margin-bottom: 3rem;
}

.gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery-img-3 {
	grid-column: 2/4;
	grid-row: 1/3;
}

/*COURSES*/

/*RECIPES*/

/*ABOUT US*/


/*CONTACT*/

.container-form{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
    font-size: 25px;
}
.container-form h2{
    margin-bottom: 15px;
    font-size: 25px
}
.container-form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
    font-size: 20px;
}
.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}
.container-form a i{
    color: #8701b05b;
    margin-right: 10px;
    font-size: 25px;
}
.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #009999;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
    font-size: 20px;
}
.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
    font-size: 20px;
}
.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: #8701b034;
    color: #009999;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 20px;
}
.container-form .btn-enviar:hover{
    background: #00999948;
    color: #8701b0ea;}
	
    
    .maps{
background-position: center;
margin: 10cm;
width: 10cm;
height: 10cm;
margin-bottom: 50px;
margin-top:35px ;

    }
